import React, { Component } from 'react';
import './{{ pascalCase name }}.scss'

interface Props {
}

interface State {
}

class {{ pascalCase name }} extends Component<Props, State> {
    constructor(props: Props) {
        super(props);
        this.state = { };
    }

    componentDidMount() {
    }

    componentWillUnmount() {
    }

    render() {
        return (
            <div>hello {{ pascalCase name }}</div>
        );
    }
}

export default {{ pascalCase name }};
